ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h6 {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

.search-input {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: 9px;
}

.search-input input {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 300px;
}

.search-input button {
  align-items: center;
  height: 40px;
  line-height: 40px;
  width: auto;
  margin-top: 9px;
}

.search-input button:hover {
  background: #0071f8;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  font-family: "Poppins", sans-serif;
}

.section {
  margin-top: 120px;
}

.section-heading {
  margin-bottom: 70px;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 44px;
}

.section-heading h6 {
  color: #ee626b;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.background-header {
  background-color: #0071f8 !important;
  border-radius: 0px 0px 25px 25px;
  height: 80px !important;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo img {
  max-width: 110px;
}

.header-area {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-area .main-nav {
  display: flex;
}

.header-area .main-nav .logo {
  display: inline-block;
  margin-right: 100px;
}

.header-area .main-nav .logo h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.background-header .main-nav .logo {
  margin-top: 18px;
}

.header-area .main-nav ul.nav {
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 0px 25px 25px;
  flex-basis: 100%;
  margin-top: 10px;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
}

.header-area .main-nav .nav li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 0.25px;
}

.header-area .main-nav .nav li:last-child a {
  background-color: #ee626b;
  text-transform: uppercase;
  font-weight: 500;
}

.header-area .main-nav .nav li:last-child:hover a {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-area .main-nav .nav li:hover a {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-area .main-nav .nav li a.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767px) {
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
  background-image: url(../images/banner-bg.jpg);
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 225px 0px;
}

.main-banner .caption h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  font-size: 48px;
  color: #fff;
  margin-top: 20px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.main-banner .caption p {
  color: #fff;
}
.main-banner .caption h2:after {
  position: absolute;
  background-image: url(../images/caption-dec.png);
  width: 202px;
  height: 12px;
  content: "";
  left: 125px;
  bottom: 0;
}

form input {
  max-width: 450px;
  width: 500px;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #fff;
  border: none;
  padding: 0px 25px;
  font-size: 14px;
  color: #7a7a7a;
}

form button {
  height: 50px;
  line-height: 50px;
  background-color: #ee626b;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  position: absolute;
  right: 0;
  top: 0;
}

form button:hover {
  background-color: #0071f8;
}

/* 
---------------------------------------------
Trending Style
--------------------------------------------- 
*/

.trending .main-button {
  margin-top: 32px;
  text-align: right;
}

.trending .item {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 30px;
}

.trending .item .down-content {
  padding: 25px;
}

.trending .item .down-content span.category {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 5px;
  display: inline-block;
}

.trending .item .down-content h4 {
  font-size: 17px;
  font-weight: 600;
}

.trending .item .down-content a {
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: #ee626b;
  color: #fff;
  border-radius: 50%;
  right: 25px;
  bottom: 25px;
}

.trending .item:hover .down-content h4 {
  color: #0071f8;
}

.trending .item:hover .down-content a {
  background-color: #0071f8;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  margin-top: 150px;
  background-color: #0071f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/footer-bg.jpg);
  min-height: 150px;
  border-radius: 150px 150px 0px 0px;
}

footer p {
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

footer p a {
  color: #fff;
  position: relative;
  z-index: 3;
}

footer p a:hover {
  opacity: 0.75;
}

/* 
---------------------------------------------
Page Header Style
--------------------------------------------- 
*/

.page-heading {
  background-image: url(../images/page-heading-bg.jpg);
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 100px 0px;
  text-align: center;
}

.page-heading span {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.page-heading span a {
  color: #fff;
}

.page-heading h3 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}

/* 
---------------------------------------------
Contact Page Style
--------------------------------------------- 
*/

.contact-page .left-text {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 60px;
}

.contact-page .left-text .section-heading {
  margin-bottom: 50px;
}

.contact-page .left-text p {
  margin-bottom: 50px;
  color: #aaaaaa;
  text-align: left;
}

.contact-page .left-text ul li {
  display: block;
  font-size: 16px;
  color: #aaaaaa;
  font-size: 300;
  margin-bottom: 30px;
}

.contact-page .left-text ul li:last-child {
  margin-bottom: 0px;
}

.contact-page .left-text ul li span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.contact-page .right-content {
  margin-left: 50px;
}

.contact-page .right-content form input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #0c2e21;
  margin-bottom: 30px;
}

.contact-page .right-content form textarea {
  width: 100%;
  height: 130px;
  border-radius: 25px;
  padding: 20px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #0c2e21;
  margin-bottom: 30px;
}

.contact-page .right-content form button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: #ee626b;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
}

.contact-page .right-content form button:hover {
  background-color: #0071f8;
}

.contact-page fieldset {
  border: none;
}

/* -----------------------------------------
Setting up the grid system for contact form
   ----------------------------------------- */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class^="col-"],
[class*=" col-"] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-6 p {
  flex: 0 0 50%;
  color: #000;
  text-align: left;
}

.col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* -----------------------------------------
Guess a number  game
----------------------------------------- */

html {
  font-family: sans-serif;
}

body {
  width: 100%;
  max-width: 2000px;
  min-width: 480px;
  margin: 0 auto;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  background-color: purple;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: yellow;
  color: #000;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 50px;
  /* margin-left: 75px; */
}

#guessField {
  color: #000;
  width: 550px;
  height: 50px;
  font-size: 25px;
  border-style: none;
  margin-top: 25px;
  font-size: 45px;
  /* margin-left: 50px; */
  border: 5px solid #14727d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

.guesses {
  background-color: #4d2bf8;
  height: 20px;
}

#wrapper {
  box-sizing: border-box;
  background-image: url(../images/gan_background.jpg);
  text-align: center;
  width: 750px;
  height: 650px;
  color: #fff;
  font-size: 30px;
}

h1 {
  background-color: #7b3056;
  color: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 50px;
  text-align: center;
}

p {
  font-size: 20px;
  color: #fff;
}

/* -----------------------------------------
Tic-Tac-Toe
----------------------------------------- */

body {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vmin;
  justify-content: center;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: red;
  background-color: #4d2bf8;
}
#reset {
  font-size: 1.25rem;
  background: #191913;
  color: white;
  border: none;
}
.box:hover {
  background-color: #0071f8;
}
#new-btn {
  font-size: 1.25rem;
  background: #191913;
  color: white;
  border: none;
}
#msg {
  font-size: 2rem;
  color: black;
}
.msg-container {
  height: 30vmin;
}

.hide {
  display: none;
}
